@font-face {
    font-family: "";
    src: url('../fontawesome/webfonts/fa-regular-400.eot');
    src: url('../fontawesome/webfonts/fa-regular-400.eot?#iefix') format('embedded-opentype'), url('../fontawesome/webfonts/fa-regular-400.woff2') format('woff2'), url('../fontawesome/webfonts/fa-regular-400.woff') format('woff'), url('../fontawesome/webfonts/fa-regular-400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    /* JosefinSans Regular */
    font-family: "JosefinSans";
    src: url('../fonts/josefin/JosefinSans-Regular.ttf');
    /* src: url('../fonts/WF-028154-009464-000003.eot?#iefix') format('embedded-opentype'), url('../fonts/WF-028154-009464-000003.woff') format('woff'), url('../fonts/WF-028154-009464-000003.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    /* CenturyGothic */
    font-family: "CenturyGothic";
    src: url('../fonts/century_gothic/GOTHIC.ttf');
    /* src: url('../fonts/WF-028154-009464-000003.eot?#iefix') format('embedded-opentype'), url('../fonts/WF-028154-009464-000003.woff') format('woff'), url('../fonts/WF-028154-009464-000003.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    /* CenturyGothic */
    font-family: "CenturyGothic_Bold";
    src: url('../fonts/century_gothic/GOTHICB.ttf');
    /* src: url('../fonts/WF-028154-009464-000003.eot?#iefix') format('embedded-opentype'), url('../fonts/WF-028154-009464-000003.woff') format('woff'), url('../fonts/WF-028154-009464-000003.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    /* CenturyGothic */
    font-family: "CenturyGothic_BI";
    src: url('../fonts/century_gothic/GOTHICBI.ttf');
    /* src: url('../fonts/WF-028154-009464-000003.eot?#iefix') format('embedded-opentype'), url('../fonts/WF-028154-009464-000003.woff') format('woff'), url('../fonts/WF-028154-009464-000003.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    /* CenturyGothic */
    font-family: "CenturyGothic_Italic";
    src: url('../fonts/century_gothic/GOTHICI.ttf');
    /* src: url('../fonts/WF-028154-009464-000003.eot?#iefix') format('embedded-opentype'), url('../fonts/WF-028154-009464-000003.woff') format('woff'), url('../fonts/WF-028154-009464-000003.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    /* CenturyGothic */
    font-family: "Roboto";
    src: url('../fonts/century_gothic/Roboto-Regular.ttf');
    /* src: url('../fonts/WF-028154-009464-000003.eot?#iefix') format('embedded-opentype'), url('../fonts/WF-028154-009464-000003.woff') format('woff'), url('../fonts/WF-028154-009464-000003.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    /* CenturyGothic */
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-Regular.otf');
    /* src: url('../fonts/WF-028154-009464-000003.eot?#iefix') format('embedded-opentype'), url('../fonts/WF-028154-009464-000003.woff') format('woff'), url('../fonts/WF-028154-009464-000003.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #fff;
    opacity: 0.99;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: keep-all;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5 {
    /* font-family: "WF-028154-009464-000050" !important; */
    font-size: 36px;
    line-height: 1.11;
    /* text-align: left; */
}

h2 {
    font-size: 30px !important;
    line-height: 1.1;
}

h3 {
    font-size: 27px !important;
}

h4 {
    font-size: 24px !important;
    line-height: 1.21;
}

h5 {
    font-size: 20px !important;
    line-height: 1.3;
}

.navbar {
    padding: 0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea554e+0,e92b65+100 */
    background: #ea554e;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ea554e 0%, #e92b65 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ea554e 0%, #e92b65 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ea554e 0%, #e92b65 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ea554e', endColorstr='#e92b65', GradientType=1);
    /* IE6-9 */
    min-height: 150px;
}

.navbar-nav li a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}

ul.navbar-nav {
    padding-right: 20rem;
}

ul.navbar-nav li {
    padding: 0 10px;
    border-right: 2px solid #F8DFE5;
}

ul.navbar-nav li:last-child {
    border-right: 0px !important;
}

ul.navbar-nav li a:hover {
    background-color: #BB3B45
}

.navbar-brand {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #333;
    /* position: absolute; */
}

.navbar-brand img.img-fluid {
    /* max-width: 75% !important;
    padding: 20px; */
    max-width: 75% !important;
    padding: 10px 10px 10px 60px;
}

.navbar-expand-lg,
.navbar-collapse {
    align-self: flex-start !important;
    padding-top: 10px;
}

.header_search {
    position: absolute;
    padding-top: 30px;
    left: 30%;
    top: 35%;
}

.move_search {
    left: -50px;
    position: relative;
    z-index: 999;
    top: 9px;
}

.header_search .btn {
    border-radius: 25px;
    padding: 0 20px;
    margin: 0 5px;
    cursor: pointer;
}

.mob-white-title {
    display: none;
}

.how_it_works_container {
    /* background: url('../assets/how_it_works.jpg') no-repeat left; */
    /* background-attachment: fixed; */
    /* background-position: top left; */
    /* min-height: 500px; */
    /* background-color: cyan; */
    background: url(../assets/1-04.png) no-repeat bottom left, url(../assets/how_it_works.jpg) no-repeat 0% -70%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    min-height: 900px;
    height: 100%;
    /* -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 95%, 20% 90%, 0% 70%, 0% 35%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 95%, 20% 90%, 0% 70%, 0% 35%, 0 0); */
}

.how_it_works_2nd_container {
    /* background: url('../assets/how_it_works.jpg') no-repeat left; */
    /* background-attachment: fixed; */
    /* background-position: top left; */
    /* min-height: 500px; */
    /* background-color: cyan; */
    background: url(../assets/how_it_works.jpg) no-repeat 0% -70%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    min-height: 200px;
    height: 100%;
    /* -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 95%, 20% 90%, 0% 70%, 0% 35%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 95%, 20% 90%, 0% 70%, 0% 35%, 0 0); */
}

.services-container {
    /* -webkit-clip-path: polygon(50% 23%, 80% 15%, 100% 0, 100% 100%, 80% 90%, 50% 84%, 20% 90%, 0 100%, 0 0, 19% 15%);
    clip-path: polygon(50% 23%, 80% 15%, 100% 0, 100% 100%, 80% 90%, 50% 84%, 20% 90%, 0 100%, 0 0, 19% 15%); 
    -webkit-clip-path: polygon(50% 15%, 80% 10%, 100% 0, 100% 94%, 80% 90%, 50% 86%, 20% 90%, 0 100%, 0 0, 20% 10%);
    clip-path: polygon(50% 15%, 80% 10%, 100% 0, 100% 94%, 80% 90%, 50% 86%, 20% 90%, 0 100%, 0 0, 20% 10%);*
    -webkit-clip-path: polygon(0 0, 16% 9%, 40% 12%, 60% 12%, 85% 8%, 100% 0, 100% 90%, 85% 85%, 65% 84%, 29% 86%, 15% 91%, 0 100%);
    clip-path: polygon(0 0, 16% 9%, 40% 12%, 60% 12%, 85% 8%, 100% 0, 100% 90%, 85% 85%, 65% 84%, 29% 86%, 15% 91%, 0 100%);*/
    /* -webkit-clip-path: polygon(0 0, 16% 7%, 40% 12%, 60% 12%, 85% 8%, 100% 0, 100% 90%, 85% 85%, 65% 84%, 29% 86%, 15% 91%, 0 100%);
    clip-path: polygon(0 0, 16% 7%, 40% 12%, 60% 12%, 85% 8%, 100% 0, 100% 90%, 85% 85%, 65% 84%, 29% 86%, 15% 91%, 0 100%); */
    background: url(../assets/browse_services2.jpg) no-repeat;
    background-size: cover;
    background-position: 0% 100%;
    min-height: 500px;
    height: 100%;
    /* background: #ea554e;
    background: -moz-linear-gradient(top, #ea554e 0%, #e92b65 100%);
    background: -webkit-linear-gradient(top, #ea554e 0%, #e92b65 100%);
    background: linear-gradient(to bottom, #ea554e 0%, #e92b65 100%); */
    /* IE6-9 */
    margin-top: -100px;
}

.height-ext {
    min-height: 75px;
    height: 100%;
}

.height-ext-300 {
    height: 300px;
}

.hhw_content .card-img-top {
    width: 50%;
}

.hhw_content .card {
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid rgba(0, 0, 0, .125);
}

.hhw_content:nth-child(odd) {
    margin-top: 100px;
}

.center-always {
    float: none;
    margin: 0 auto;
}

.how_it_works_container .display-3 {
    padding: 60px 0;
}

.services-container .display-5 {
    color: #fff;
}

.circular-image {
    border-radius: 50%;
}

.btn-rounded {
    border-radius: 30px;
}

.services-container .hhw_content:nth-child(odd) {
    margin-top: 0px;
    padding-bottom: 50px;
}

.facebook-btn,
.google-btn {
    background-color: rgba(61, 90, 150, 1);
    padding: 15px 30px;
    text-align: center;
    color: #fff;
}

.google-btn {
    background-color: rgba(217, 69, 61, 1) !important;
}

.spl-txt {
    font-size: 22.3px;
    line-height: 1.71;
    text-align: left;
    color: #959595;
}

.fam-form-container .form-control {
    min-height: 80px;
    border-radius: 30px;
    font-size: 1.4rem;
}

.fam-form-container .btn-signup,
.btn-signup {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#544cf9+0,544cf9+51,814cf9+100 */
    background: #544cf9;
    /* Old browsers */
    background: -moz-linear-gradient(left, #544cf9 0%, #544cf9 51%, #814cf9 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #544cf9 0%, #544cf9 51%, #814cf9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #544cf9 0%, #544cf9 51%, #814cf9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#544cf9', endColorstr='#814cf9', GradientType=1);
    /* IE6-9 */
    color: #fff;
}

.news_container {
    background: url(../assets/how_it_works.jpg) no-repeat;
    /* -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; */
    background-size: cover;
    min-height: 750px;
}

.news_container .card-img-top {
    min-height: 385px;
    padding-bottom: 50px;
}

.main_search {
    width: 450px !important;
    border-radius: 30px !important;
    height: 40px;
    background-color: #000;
    box-shadow: 0 0 0 #000;
    border: 0px;
    color: #fff !important;
    padding-left: 20px;
}

.main_search.form-control:focus {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    background-color: #000;
    outline: 0px;
}

input[type="search"].main_search::-webkit-input-placeholder {
    color: #FFF;
}

.fa-search {
    color: #fff;
}

.section_heading {
    font-size: 48px;
    padding-bottom: 25px;
    text-align: center;
    font-weight: 500;
}

.some_card_desc {
    padding: 20px;
}

.card-block a,
.card_read_more a {
    font-weight: bold;
    padding: 0 20px 10px;
    color: #000;
    display: block;
}

.card_read_more a:hover,
.card_read_more a:active {
    color: red;
    text-decoration: none;
}


/* Common Paddings used in our porject start */

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-200 {
    padding-top: 200px;
}

.padding-top-n-btm-1 {
    padding: 20px 0;
}


/* Common Paddings used in our porject End */


/* Common margins used in our porject Start */

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}


/* Common margins used in our porject End */


/* 3-card carousel css start */

.form-control:focus {
    box-shadow: 4px 4px 4px 0px #ddd;
}

.carousel-inner .card {
    float: left !important;
    max-width: 450px;
    width: 100%;
}

.card-img-top-250 {
    /* max-height: 250px; */
    overflow: hidden;
}

.carousel-item {
    width: auto !important;
}


/* smoother transitions */

.carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right,
{
    transition: all 1s ease;
}


/* 3-card carousel css end */


/* Footer Css start */

.footer {
    background-color: #333333;
    background-image: -webkit-linear-gradient(171deg, #333333 51.25%, #3D3D3D 35%);
    min-height: 500px;
    -webkit-clip-path: polygon(51% 15%, 50% 30%, 100% 41%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0 0);
    clip-path: polygon(51% 15%, 50% 30%, 100% 41%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0 0);
}

.footer-bottom {
    background-color: #333333;
}

.footer ul li {
    list-style: none;
}

.footer ul li a,
.footer-bottom {
    color: #fff;
    font-size: 16px;
}

.footer .height-ext-300 {
    height: 180px;
}

.copyright_text {
    text-align: center;
    padding: 20px;
}

.copyright_text .fab {
    color: #fff;
    padding-right: 15px;
}


/* Footer Css End */


/* Profile CSS start */

.mprofileHeader {
    background: url('../assets/mprofileheader.png') no-repeat;
    background-size: cover;
    min-height: 350px;
}

.mprofilehimgs {
    background: url(../assets/1-02-copy-2.png) no-repeat bottom left, url(../assets/1-02-copy-3.png) no-repeat bottom right;
    min-height: 350px;
    background-size: contain;
}

.profile_description_1 {
    object-fit: contain;
    background-color: #ffffff;
    box-shadow: 13.6px 10.2px 27px 0 rgba(69, 49, 97, 0.14);
    padding: 20px
}

.profile_description_title {
    color: #6684f2;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 1.5px;
    text-align: left;
}

.profile_description_title_2 {
    color: #6684f2;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 1px;
    text-align: left;
}

.profile_description_subtitle {
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding: 20px 0;
}

.profile_description_subtitle2 {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #636363;
}

.profile_description_container {
    object-fit: contain;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 0.5px #ebebeb;
    padding: 15px;
}

.language_tiles {
    object-fit: contain;
    border-radius: 5px;
    background-color: #e8eff0;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding: 10px 25px;
}

.acheivements_block {
    background-color: #ffffff;
    box-shadow: 13.6px 10.2px 27px 0 rgba(69, 49, 97, 0.14);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 100px;
    padding: 20px;
}

.how_it_works_2nd_container .profile_description_container {
    max-width: 600px;
}

.schedule_block {
    background: #ea554e;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ea554e 0%, #e92b65 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ea554e 0%, #e92b65 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ea554e 0%, #e92b65 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ea554e', endColorstr='#e92b65', GradientType=1);
    /* IE6-9 */
    box-shadow: 13.6px 10.2px 27px 0 rgba(69, 49, 97, 0.14);
    border-top-left-radius: 100px;
    border-bottom-right-radius: 160px;
    padding: 20px;
    min-height: 300px;
}


/* Profile CSS start */

.profile_header {
    object-fit: contain;
    font-family: OpenSans;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: 0.3px;
    text-align: left;
    padding-left: 100px;
    color: #252526;
}

.profile-top {
    background: url(../assets/mpf-top.png) no-repeat;
    background-size: contain;
    min-height: 70px;
    margin-top: 170px;
}

ul.mf-menu li {
    list-style: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #a1a1a1;
}

ul.mf-menu li a {
    font-family: JosefinSans;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 0.72; */
    letter-spacing: normal;
    text-align: center;
    color: #252526;
}

.mf-title {
    object-fit: contain;
    font-family: CenturyGothic;
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.33;
    letter-spacing: normal;
    text-align: left;
    color: #e84e46;
    padding-bottom: 10px;
    border-bottom: 2px solid #e84e46;
    margin-bottom: 15px;
}

.btn-fam {
    background-color: #e84e46;
    min-width: 200px;
    min-height: 40px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: contain;
    font-family: CenturyGothic;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.72;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.btn-fam1,
.btn-fam-default {
    background-color: #e84e46;
    object-fit: contain;
    font-family: CenturyGothic;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 6px 12px;
    min-width: 100px;
    min-height: 20px;
    border-radius: 10px;
}

.btn-fam-default {
    background-color: #fff;
    color: #000;
    box-shadow: 0px 9px 35px 0 rgba(0, 0, 0, 0.15);
    margin-right: 15px;
}

.form-check-label {
    padding-left: 1.25rem;
    margin-bottom: 0;
    margin-right: 1.25rem;
}


/* Profile CSS End */


/* Contact Us Css Start */

.fam_contactus {
    margin-top: 170px;
}

.contact_header {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 2.8px;
    text-align: left;
    color: #6684f2;
}

.contact_header_title {
    object-fit: contain;
    font-family: OpenSans;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f6f;
}

.con-text {
    object-fit: contain;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
}

.con-text .itsalink {
    color: #6684f2;
}

.con-sub-title {
    object-fit: contain;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.con-sub-text {
    object-fit: contain;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.73;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
}

.onlyborder {
    border-bottom: 2px solid #ccc;
    min-width: 50px;
    max-width: 100px;
    color: #ffffff;
}

.contact_form {
    padding: 20px 0;
}

.forphone input {
    display: inline;
}


/* Contact Us Css End */


/* Member profile Settings page css Start */

.profile-top-member {
    background-color: rgb(247, 247, 247);
    min-height: 70px;
    margin-top: 150px;
}

.profile-top-member .profile_header {
    object-fit: contain;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.6;
    letter-spacing: 0.2px;
    text-align: center;
    color: #252526;
    padding-top: 30px;
}

.member_form_div {
    padding-top: 40px;
    background: url(../assets/member-set-bg.png) no-repeat;
    background-position: 0% 30%;
}

.member-card {
    background-color: #ffffff;
    min-height: 300px;
}

.member-card span {
    display: block;
}

.member_name {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: #252526;
    padding: 15px;
}

.member_dets {
    font-family: Myriad Pro;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #949599;
    /* padding: 0px 15px 10px; */
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    float: left;
}

.rating>span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
}

.form-bg-style {
    background-color: #f7f7f7;
}

.member-pf-title {
    font-family: Lato;
    font-size: 19.5px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.5px;
    text-align: center;
    color: #252526;
    padding: 15px 0;
}

.member-pf-subtitle {
    padding: 10px 0;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #252526;
    display: block;
}

.form-inline .row {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin: 7px;
}

input.form-control.col-5,
input.form-control.col-10,
textarea.form-control.col-10,
select.custom-select {
    margin: 0 10px;
}

.form-inline select.city-select {
    width: 41.75% !important;
}

.form-inline select.gender-select {
    width: 30%
}

.subscribe-block {
    height: 70px;
    color: #fff;
    background: url(../assets/subs_img.png) no-repeat;
}

.subs-block {
    margin: 0 auto;
    float: none;
    padding-top: 20px;
}

.pad-20 {
    padding: 20px;
}


/* Member profile Settings page css End */


/* Login MOdal Css Start */

#LoginModal .modal-header {
    border-bottom: 0px;
}

#LoginModal .modal-footer {
    border-top: 0px;
}

#LoginModal {
    background: url('../assets/modal-bg.png') no-repeat;
    /* background-size: contain; */
}

#LoginModal .modal-content {
    background: transparent !important;
    box-shadow: 8px 3px 57px 1px rgba(23, 23, 23, 0.33)
    /* 28.1px 13.1px 57.1px 10.9px rgba(23, 23, 23, 0.33); */
}

#LoginModal .modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

@media(max-width: 768px) {
    #LoginModal .modal-dialog {
        min-height: calc(100vh - 20px);
    }
}

#LoginModal h4,
#LoginModal h6 {
    text-align: center;
}

#LoginModal input,
#LoginModal .btn {
    border-radius: 20px;
}


/* #LoginModal .form-check-label {
    padding-left: 0rem !important;
    COMMENTED ON 06-MAY-2018 AS PER THE FINDINGS. VERIFY IF AFFECTING IN FUTURE- ISHTIAQ
} */

#LoginModal form,
#LoginModal .modal-body p {
    padding-bottom: 40px;
}

#LoginModal a {
    color: #fff;
}


/* Login MOdal Css End */


/* Maulana Listing Page css start */

.maulana-listing-page {
    display: flex;
    /* flex-direction: column; */
    padding: 30px 0;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #ea2561;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#demo {
    float: right;
}

.form-check-input {
    margin-left: 0px !important;
}

.form-check-label {
    display: block
}

.mau_search {
    width: 150px !important;
    border-radius: 15px !important;
    height: 25px;
    background-color: #000;
    box-shadow: 0 0 0 #000;
    border: 0px;
    color: #fff !important;
    padding-left: 20px;
}

.mau_search.form-control:focus {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    background-color: #000;
    outline: 0px;
}

input[type="search"].mau_search::-webkit-input-placeholder {
    color: #FFF;
}

.mau-listing .row {
    margin: 15px 0;
}

.mau-image {
    border-radius: 50%;
    border-bottom: 1px solid;
}

.star-checked {
    color: #ea2561;
}

.green {
    color: green;
}

.online-status-image {
    width: 25px;
}

.chip-tab {
    border-right: 1px solid #7d7d7d;
    min-height: 25px;
    min-width: 100px;
    padding: 0 10px;
}

.maulana-det-row {
    /* border-left: 3px solid #ea2561; */
    border-bottom: 3px solid #ea2561;
    padding-bottom: 10px;
}

.mau-listing-btm {
    background: url(../assets/mau-lis-abf.png) no-repeat;
    height: 700px;
    background-size: cover;
    margin-bottom: -300px;
    margin-top: -40px;
}

.mau-lis-img {
    background: url(../assets/mau-bt-img.png) repeat-x;
    height: 400px;
}


/* Maulana Listing Page css END */


/* maulana public display start */

.maulana-disp li {
    list-style-type: persian;
}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .navbar-brand img.img-fluid {
        max-width: 50% !important;
    }
    .services-container,
    .footer {
        clip-path: none !important;
        -webkit-clip-path: none !important;
    }
    .height-ext-300 {
        height: 20px !important;
    }
}


/* // Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .navbar-brand img.img-fluid {
        max-width: 50% !important;
    }
    .navbar-expand-lg,
    .navbar-collapse {
        align-self: flex-start !important;
        padding-top: 50px;
    }
}


/* // Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    .navbar-brand img.img-fluid {
        max-width: 75% !important;
    }
    .navbar-expand-lg,
    .navbar-collapse {
        align-self: flex-start !important;
        padding-top: 10px;
    }
}


/* // Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
    .navbar-brand img.img-fluid {
        max-width: 75% !important;
    }
    .navbar-expand-lg,
    .navbar-collapse {
        align-self: flex-start !important;
        padding-top: 10px;
    }
}


/* For mobile devices  */

@media (min-width: 320px) and (max-width: 736px) {
    .header_search {
        display: none;
    }
    .navbar {
        min-height: 50px;
    }
    .navbar-brand {
        width: 30%;
        float: right;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: none;
    }
    body {
        font-size: 75%;
    }
    .carousel {
        top: 55px;
    }
    .how_it_works_container .display-3 {
        padding: 100px 0 0;
    }
    .display-3,
    .display-4 {
        font-size: 2.5rem;
    }
    .hhw_content:nth-child(odd) {
        margin-top: 10px;
    }
    .services-container {
        margin-top: 0px;
        padding-bottom: 2.5rem;
    }
    .display-5 {
        font-size: 2rem;
    }
    .services-container .col-xs-12.padding-top-n-btm-1 {
        padding: 1.25rem;
    }
    .fam-form-container .illustration_provided {
        padding: 4rem;
    }
    .fam-form-container .display-4.padding-top-100,
    .news_container .padding-top-200.section_heading {
        padding-top: 0px;
    }
    .facebook-btn,
    .google-btn {
        padding: 5px 10px;
    }
    .fam-form-container p.padding-top-n-btm-1 {
        padding: 10px 0;
    }
    .fam-form-container form {
        padding: 2rem;
    }
    .fam-form-container .form-control {
        min-height: 40px;
        border-radius: 30px;
        font-size: 1rem;
    }
    .fam-form-container .spl-txt {
        font-size: 0.75rem;
    }
    .news_container .padding-top-200.section_heading {
        padding-bottom: 0px;
        font-size: 2.5rem;
    }
    .news_container .carousel {
        padding: 0 25px;
        top: 25px;
    }
    .news_container .card-img-top {
        min-height: 250px;
        padding-bottom: 15px;
    }
    .news_container .card {
        margin-bottom: 15px;
    }
    .news_container {
        height: 1800px;
    }
    .mob-white-title {
        display: block;
        font-size: 1.26rem;
        color: #fff;
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .navbar-collapse.collapse button {
        margin: 10px;
    }
    ul.navbar-nav {
        padding-right: 0rem;
    }
}


/* For tablet devices  */

@media (min-width: 737px) and (max-width: 1024px) {
    .navbar-brand img.img-fluid {
        max-width: 50% !important;
    }
    .header_search {
        display: none;
    }
    .navbar {
        min-height: 50px;
    }
    .navbar-brand {
        width: 30%;
        float: right;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: none;
    }
    body {
        font-size: 75%;
    }
    .carousel {
        top: 90px;
    }
    .how_it_works_container {
        min-height: 400px;
    }
    .how_it_works_container .display-3 {
        padding: 100px 0 0;
    }
    .display-3,
    .display-4 {
        font-size: 2.5rem;
    }
    .hhw_content:nth-child(odd) {
        margin-top: 10px;
    }
    .services-container {
        margin-top: 0px;
        padding-bottom: 2.5rem;
    }
    .display-5 {
        font-size: 2rem;
    }
    .services-container .col-xs-12.padding-top-n-btm-1 {
        padding: 1.25rem;
    }
    .fam-form-container .illustration_provided {
        padding: 4rem;
    }
    .fam-form-container .display-4.padding-top-100,
    .news_container .padding-top-200.section_heading {
        padding-top: 0px;
    }
    .facebook-btn,
    .google-btn {
        padding: 5px 10px;
    }
    .fam-form-container p.padding-top-n-btm-1 {
        padding: 10px 0;
    }
    .fam-form-container form {
        padding: 2rem;
    }
    .fam-form-container .form-control {
        min-height: 40px;
        border-radius: 30px;
        font-size: 1rem;
    }
    .fam-form-container .spl-txt {
        font-size: 0.75rem;
    }
    .news_container .padding-top-200.section_heading {
        padding-bottom: 0px;
        font-size: 2.5rem;
    }
    .news_container .carousel {
        padding: 0 25px;
        top: 25px;
    }
    .news_container .card-img-top {
        min-height: 250px;
        padding-bottom: 15px;
    }
    .news_container .card {
        margin-bottom: 15px;
    }
    .news_container {
        height: 1800px;
    }
    .mob-white-title {
        display: block;
        font-size: 2.5rem;
        color: #fff;
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .navbar-collapse.collapse button {
        margin: 10px;
    }
    ul.navbar-nav {
        padding-right: 0rem;
    }
}